# Ignorar todo el directorio target
target/

# Permitir que la carpeta tarjet no sea ignorada
!target/

# Permitir que el archivo JAR generado en target se suba a GitHub
!target/miapp-0.0.1-SNAPSHOT.jar

# Ignorar archivos que no son necesarios para el control de versiones
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


